<!-- views/list.erb -->
<h2>Code Challenge: Dynamic Directory Index</h2>
<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%= file %>"><%= file %></a>
    </li>
  <% end %>
</ul>

<p>
  <% if params[:sort] == "desc" %>
    <a href="/">Sort ascending</a>
  <% else %>
    <a href="/?sort=desc">Sort descending</a>
  <% end %>
</p>