<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @contents.each do |chapter| %>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link"><%= chapter %></a>
      </li>
    <% end %>
  </ul>
</div>