<html>
  <header>
  </header>

  <body>

    <% if session[:error] %>
      <div>
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <ul>
      <% @files.each do |file| %>
      <li><a href="/<%=file%>"><%= file %></a></li>
      <% end %>
    </ul>

  </body>
</html>