<ul>
  <% @files.each do |file| %>
  <li>
    <a href="/<%=file%>"><%= file %></a>
    <a href="/<%=file%>/edit">Edit</a>
    <form class="inline" method="post" action="/<%= file %>/delete">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% end %>

  <hr>

  <p><a href="/new">New Document</a></p>

</ul>