<html>

  <title>CMS</title>
  <link rel="stylesheet" href="/cms.css" type="text/css">

  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <%== yield %>
  </body>

</html>