<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Autocomplete!</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/autocomplete.css">
    <script type="module" src="/javascripts/autocomplete.js"></script>
  </head>
  <body>
    <div class="app">
      <p>
        <input name="country">
      </p>
    </div>
  </body>
</html>
